.menu {
    padding: 10px;
}

th:hover {
    position: relative;
    background: #ccc;
}

th.sortable:hover {
    cursor: pointer;
}

th.sortable.sort-up:after {
    font-family: 'Glyphicons Halflings';
    font-size: .7em;
    content: "\e156";
}
